<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #777777;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<img src="/images/obla.webp" alt="Вам сюда нельзя" width="960" height="540">
</body>
</html>